@import '../../../assets/css/style.scss';

.login {
    height: 500px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-250px);
    transition: .8s ease-in-out;
    padding: 5px;
}