@import '../../assets/css/style.scss';

.categoriesPage {
    .container {
        .breadcrumb {
            height: 50px;
            @include flex(center, none);
            @include text(var(--body12-fs), os, var(--body12-lh), $gray-cl, none);

            p {
                margin-right: 8px;
            }

            span {
                margin-right: 8px;
            }

            p:last-child {
                color: $black15;
            }
        }

        .headline {
            @include flex(center, space-between);

            .left {
                h1 {
                    @include text(var(--h1-fs), psb, var(--h1-lh), $black15, none);
                }
            }

            .right {
                .tab_list {
                    @include flex(center, center);

                    .tab-item {
                        @include flex(center, center);
                        margin-left: 24px;
                        cursor: pointer;

                        svg {
                            @include size(13.33px);
                        }

                        span {
                            margin-left: 5px
                        }

                        .tag-item {
                            margin: 0 !important;
                        }
                    }
                }
            }
        }

        .options_category {}

        .categories_content {
            display: flex;

            &-sidebar {
                width: 30%;

                .sidebar-title {
                    @include text(var(--h3-fs), psb, var(--h3-lh), $black15, none);
                    margin: 16px 0;
                }

                .categories_list {
                    .categories-item {
                        @include flex(center, space-between);
                        margin: 12px 24px 12px 0;

                        .tag-item {
                            margin: 0;
                        }
                    }
                }

                .brand_list {
                    .brand-item {
                        @include flex(flex-start, none);

                        label {
                            .input {
                                padding: 0;
                            }
                        }
                    }
                }

                .rate_list {
                    .rate-item {
                        @include flex(center, none);

                        label {
                            margin-right: 12px;

                            .input {
                                padding: 0;

                                input {
                                    @include size(16px);

                                }
                            }
                        }


                    }
                }
            }

            &-product {
                width: 70%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
                gap: 30px;
            }
        }
    }
}