@import '../../assets/css/style.scss';

label {
    .label {
        @include text(var(--body12-fs), pb, var(--body12-lh), $black15, none);
        margin-bottom: 6px;
    }
    .input {
        background-color: $bg-nav;
        border: 1px solid $d1;
        border-radius: var(--radius);
        overflow: hidden;
        height: 42px;
        padding: 0 16px;
        display: inline-flex;
        align-items: center;
        gap: 12px;

        .pos {
            &-icon-left {
                i {
                    display: flex;
                    margin-left: 12px;
                }

                svg {
                    display: block;
                }
            }
        }

        input {
            @include text(var(--body14-fs), p, var(--body14-lh), $black15, none);
            border: none;
            outline: none;
            background: transparent;
            text-align: left;

            &::placeholder {
                color: $gray-cl;
            }
        }

        &.size {
            &-large {
                max-width: 100%;
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
        &.width {
            input {
                width: 16px;
                height: 16px;
            }
        }
        &.clear {
            background-color: none;
            border: none;
        }
    }

    .error {
        margin-top: 6px;
        color: red;
    }
}