@import '../../assets/css/style.scss';

.tag-item {
    @include text(1.2rem, pb, 2rem, $black15, none);
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 12px;
    background-color: $white-f5;
    margin-right: 16px;
    margin-bottom: 16px;
    display: inline-block;
    @include transition($t);

    &:hover {
        color: $white-f5;
        background-color: $green-cl;
    }
}