@font-face {
    font-family: 'p';
    src: url('./Poppins-Regular.woff2') format('woff2'),
        url('./Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'os';
    src: url('./OpenSans-Regular.woff2') format('woff2'),
        url('./OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

