@import '../../../../assets/css/style.scss';

.payment-info {
    margin-bottom: 16px;

    form {
        border: 1px solid $d1;
        border-radius: 12px;
        padding: 20px 16px;

        .card-info {
            @include flex(center, space-between);
            margin-top: 32px;

            .left {
                width: 55%;
            }

            .right {
                @include flex(center, space-between);
                width: 45%;

                label {
                    width: 50%;
                    margin-left: 16px;
                }
            }
        }
    }
}