@import "../../assets/css/style.scss";


.banner__item {
    @include size(420px, 280px);
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    .banner__img {
        img {
            @include size(100%);
            object-fit: cover;
            @include transition($t);
        }
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 48px 32px 32px 32px;

        .title {
            @include text(var(--body12-fs), pb, 2rem, $green-cl, none);
            margin-bottom: 8px;
            @include transition($t);
        }

        .heading {
            @include text(var(--h2-fs), pb, var(--h2-lh), $black15, none);
            margin-bottom: 87px;
            @include transition($t);
        }
    }

    &:hover {
        .banner__img {
            img {
                @include transform(scale(1.1));
                filter: grayscale(40%);
            }
        }

        .banner__item-content {
            .title {
                color: $white-cl;
            }

            .heading {
                color: $white-cl;
            }
        }
    }
}