@import "../../../assets/css/style.scss";
.checkout__info {
    .heading {
        @include text(var(--h2-fs), pb, var(--h2-lh), $black15, none)
    }
    .desc {
        @include text(var(--body12-fs), os, var(--body12-lh), $gray-cl, none);
        margin-bottom: 32px;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 32px;
    }
}