@import "../../../assets/css/style.scss";

.checkout__info {
    margin-bottom: 65px;
    .heading {
        @include text(var(--h2-fs), pb, var(--h2-lh), $black15, none);
        margin-bottom: 4px;
    }

    .checkout-step {
        margin-bottom: 32px;
        @include flex(center, space-between);

        p {
            @include text(var(--body12-fs), os, var(--body12-lh), $gray-cl, none);
        }
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 32px;
    }
}