@import "../../../assets/css/style.scss";

.order__sumany {
    max-width: 468px;
    width: 100%;
    border: 1px solid $d1;
    border-radius: var(--radius);
    padding: 32px 16px;
    .desc {
        margin-bottom: 40px;
    }
}