@import '../../assets/css/style.scss';

.squaredcheck {
    position: relative;
    margin: 20px auto;
    @include flex(center, center);

    label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        left: 0;
        background: lighten(transparent, 20%);
        border: 1px solid #c1c1c1;
        border-radius: 4px;

        &:after {
            content: '';
            width: 10px;
            height: 5px;
            position: absolute;
            top: 4px;
            left: 3px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }

        &:hover::after {
            opacity: 0.3;
        }
    }

    span {
        position: absolute;
        left: 30px;
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked+label {
            background: $green-cl;
            border: 2px solid $green-border;
        }

        &:checked+label:after {
            opacity: 1;
        }
    }

    &.type {
        &-round {
            padding: 11px 18px;
            background: $bg-nav;
            border: 1px solid $d1;
            border-radius: 12px;
        }
    }
}