@import '../../assets/css/style.scss';

.squaredcheck {
    position: relative;
    margin: 20px auto;

    label {
        margin-left: 10px;
    }

    &.type {
        &-round {
            padding: 11px 18px;
            background: $bg-nav;
            border: 1px solid $d1;
            border-radius: 12px;
        }
    }
}