@import '../../assets/css/style.scss';

.footer {
    padding: 64px 45px;

    .footer_list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 50px;

        .footer-item {
            h5 {
                font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                color: #151515;
                margin-bottom: 16px;
            }

            .item-list {
                li {
                    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    color: rgba(106, 152, 60, 1);
                    cursor: pointer;
                    margin-bottom: 16px;
                    transition: .4s;

                    &:hover {
                        color: #151515;
                    }
                }
            }
        }
    }

    .product-tags {
        margin-bottom: 30px;
        h5 {
            font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            color: #151515;
            margin-bottom: 16px;
        }

        .tag_list {
            display: flex;
            flex-wrap: wrap;
            max-width: 1084px;

            .tag-item {
                font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                padding: 4px 10px;
                color: rgba(21, 21, 21, 1);
                border-radius: 12px;
                background-color: #f5f5f5;
                margin-right: 16px;
                margin-bottom: 16px;
            }
        }
    }

    .coppy-right {
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: rgba(21, 21, 21, 1);
    }
}