@import "../../assets/css/style.scss";

.pro__item {
    width: 268px;
    padding: 16px;
    overflow: hidden;
    border: 1px solid $d1;
    border-radius: var(--radius);

    &-img {
        overflow: hidden;
        height: 0;
        padding-bottom: 77%;
        border-radius: var(--radius);
        position: relative;

        img {
            // @include midimg(100%);
            // @include transition($t);
            outline: 0;
            @include size(100%);
            object-fit: contain;
            @include mid;
            @include transform(translate(-50%, -50%) scale(1));
            @include transition($t);
        }

        .tag-item {
            position: absolute;
            top: 5%;
            left: 5%;
            z-index: 1
        }
    }

    &-content {
        margin-top: 16px;

        .title {
            @include text(var(--h4-fs), p, var(--h4-lh), $black15, none);
            margin-bottom: 4px;
            @include overtext(2);
        }

        .desc {
            @include text(var(--body12-fs), os, var(--body12-lh), $desc-cl, none);
            margin-bottom: 16px;
        }

        .rating {
            margin-bottom: 14px;
        }

        .content-button {
            @include flex(center, space-between);

            .price {
                &__discount {
                    @include text(var(--h3-fs), pb, var(--h3-lh), $black15, none);
                }

                &__main {
                    color: $gray-cl;
                    font-family: pb;
                    text-decoration: line-through;
                }
            }
        }
    }

    &:hover {
        .pro__item-img {
            img {
                @include transform(scale(1.1) translate(-45%, -45%));
            }
        }
    }

    &.star {
        &-none {
            .pro__item-content {
                .rating {
                    display: none;
                }
            }
        }
    }
}