@import "../../assets/css/style.scss";

    .home__content {
        // @include flex(center, flex-start);
        padding: var(--pd-section);
        gap: 32px;
        .container {
            display: flex;
            gap: 32px;
        }
        .cate {
            width: 270px;
        }
        .banner, .pro__list {
            flex: 1;
        }
    }